<%= render 'pages/home'  unless user_signed_in?%>

    <!--hairdo-->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">全部</a></li>
       <li><a href="#">公館</a></li>
      <li><a href="#">景美</a></li>
      <li><a href="#">內湖</a></li>
    </ul>
    <!--hairdo-->

<div id="pins" class="transitions-enabled">



  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      
      <%= link_to image_tag(pin.image.url(:medium)), pin_path(pin) %>
      <!--
      <a href = <%=pin_path(pin)%> > <img src= <%= pin.image.url(:medium)%>> </img> </a>
      -->
      <div class="panel-body">
       <!-- <p><%= pin.description %></p>-->

       <div class="row">
       
       <img src= <%=pin.user.image.url(:thumb) if(pin.user)%> class="img-avatar"></img>
        
       <%#image_tag(pin.user.image.url(:thumb))%>

        <strong><%= pin.user.name if(pin.user) %></strong>
       </div>

       <br>


         <span class="glyphicon glyphicon glyphicon-heart score">  </span>

         <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
            <span class="sr-only">70% Complete</span>
            </div>
        </div>
     
     

        <% if pin.user == current_user %>
          <div class="action">
            <%= link_to edit_pin_path(pin) do%>
              <span class="glyphicon glyphicon-edit"></span>Edit
            <%end%>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do%>
              <span class="glyphicon glyphicon-trash"></span>Delete
            <%end%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<div class="center">
  <!--
  <% @users.each do |user| %>

      <p><%= user.email %></p>
      <%= image_tag(user.image.url(:thumb)) %>
      <p><%= user.encrypted_password %></p>
  <% end %>
  -->
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails%>
</div>
